/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
    text-decoration: none;
    color: black;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	width: auto;
	margin-top: 80px;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

main {
	padding: 0 40px;
}
header {
	width: 100%;
	margin: 50px 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	box-sizing: content-box;
	margin-top: 110px;
	padding: 0 10%;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/* Header*/

header {
	background-color: #FFFEF8;
}

.navHead {
	display: flex;
	justify-content: space-between;
	margin: 0 70px;
}

/* Log-In */

#body-2 {
	margin: 40px;
	background-color: #FFFEF8;
}

#main-2 {
	margin-top: 150px;
}

.logTxt {
	font-size: 16px;
}

.section-login{
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginPost {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 1140px;
	height: 100%;
}

.loginPost h2 {
	margin-bottom: 20px;
}

.loginPost button {
	border-radius: 25px;
	color: white;
	border: solid #1D6154 1px;
	margin: 20px 10px;
	padding: 8px 32px;
	background-color: #1D6154;
	cursor: pointer;
	font-size: 12px;
	font-family: 'Syne';
}

.loginPost a{
	text-decoration: underline;
}

.mail p, .password p {
	font-family: 'Work Sans';
}

.mail input, .password input {
	width: 280px;
	height: 35px;
	margin: 5px 0;
	margin-bottom: 15px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}


/* Filtres */

.filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0;

}

.btn-filtre {
	border-radius: 25px;
	color: #1D6154;
	border: solid #1D6154 1px;
	margin: 0 10px;
	padding: 7px 12px;
	background-color: white;
	cursor: pointer;
	font-size: 13px;
	font-family: 'Syne';
}

.filtre1 {
	padding-right: 20px;
	padding-left: 20px;
}

.btn-filtre:hover {
	background-color: #1D6154;
	color: white;
}

/* Bouton edition et modifier */

/* button Mode édition */

.headEdit{
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
}

.headEdit.visible {
	visibility: initial;
	transition: .5s ease-in-out;
}

.edition {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 118px;
	height: 40px;
}

.edition p, i {
	color: white;
	margin: 3px;
}

/* button Modifier */

.head-edit2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.head-edit2 h2{
	margin-right: 20px;
	margin-left: 100px;
}

.edition2 {
	/*display: flex;*/
	flex-direction: row;
	height: 20px;
	margin: 3px;
	cursor: pointer;
}
.edition2.visible {
	visibility: initial;
	transition: .5s ease-in-out;
}

.edition2 i {
	color: black;
	margin-right: 8px;
}

.edition2 p {
	margin-top: 3px;
}

/* Modale 1 */

  .modal-container {
	/* display: none; */
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	transition: visibility 0.4s;
  }
  .modal-container.active {
	/* display: block; */
	visibility: visible;
  }
  
  .overlay {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333333d3;
	transition: opacity 0.4s 0.2s ease-out;
  }
  .modal-container.active .overlay {
	opacity: 1;
	transition: opacity 0.4s ease-out;
  }
  
  .modal {
	display: flex;
	justify-content: center;
	opacity: 0;
	width: 50%;
	padding-bottom: 30px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	transition: opacity 0.4s ease-out;
  }

  .modal h2{
	margin-left: 9px;
	margin-bottom: 30px;
	font-size: 24px;
	color: black;
  }

  .modal-container.active .modal {
	opacity: 1;
	transition: opacity 0.4s 0.2s ease-out;
  }
  
  .close-modal {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
  }
  .close-modal i{
	color: black;
  }
  .modal h1 {
	margin-bottom: 10px;
	font-weight: 500;
  }
  .modal p {
	line-height: 1.4;
	margin-bottom: 5px;
  }

.line {
	margin-top: 30px;
	height: 1px;
	width: 70%;
	background-color: grey;
}

.modal-inside {
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.addPicture {
	border-radius: 25px;
	color: white;
	border: solid #1D6154 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 8px 32px;
	background-color: #1D6154;
	cursor: pointer;
	font-size: 14px;
	font-family: 'Syne';
}

.modal-inside h2{
	margin: 44px 10px;
}

/* Modale picture */

.modal-picture {
	display: flex;
	flex-wrap: wrap;
	padding: 0 15%;
}

.figureSize {
	width: 80px;
	height: 110px;
	position: relative;
	margin: 15px 5px;

}

.imgSize {
	width: 80px;
	height: 110px;
}

.trashSize {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 18px;
	background-color: black;
	cursor: pointer;
}

.trashSize i{
	color: white;
}

/* Modale 2 */

.modal-container2 {
	/* display: none; */
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	transition: visibility 0.4s;
  }
  .modal-container2.active {
	/* display: block; */
	visibility: visible;
  }
  
  .overlay2 {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333333d3;
	transition: opacity 0.4s 0.2s ease-out;
  }
  .modal-container2.active .overlay2 {
	opacity: 1;
	transition: opacity 0.4s ease-out;
  }

  .main-modal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .modal2 {
	display: flex;
	justify-content: center;
	opacity: 0;
	width: 35%;
	padding: 20px 60px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	transition: opacity 0.4s ease-out;
  }

  .modal2 h2{
	margin-left: 9px;
	margin-bottom: 30px;
	font-size: 24px;
	color: black;
  }

  .modal-container2.active .modal2 {
	opacity: 1;
	transition: opacity 0.4s 0.2s ease-out;
  }

  .return-modal{
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 15px;
	left: 15px;
	cursor: pointer;
  }

  .return-modal i{
	color: black;
  }
  
  .close-modal2 {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
  }
  .close-modal2 i{
	color: black;
  }
  .modal2 p {
	line-height: 1.4;
	margin-bottom: 5px;
  }

.dwnld-img{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	padding: 13px;
	background-color: #E8F1F6;
	border-radius: 7px;
	width: 400px;
	margin-bottom: 20px;
}

.dwnld-img img {
	position: absolute;
	top: 0;
	width: 170px;
	height: 176px;
	object-fit: cover;
	z-index: 100;
	cursor: pointer;
}
.dwnld-img::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.dwnld-img.active:hover::before {
	opacity: 1;
}

.dwnld-img i{
	font-size: 70px;
	color: #A7A7A7;;
}

.dwnld-img p{
	margin-top: 5px;
	font-size: 10px;
}

.imgEvent{
	visibility: hidden;
}

.imgEvent.hidden {
	visibility: visible;
}

.title{
	display: flex;
	flex-direction: column;
}

.title p, .category p {
	font-family: 'Work Sans';
}

.title input {
	box-sizing: border-box;
	width: 425px;
	height: 35px;
	padding: 10px 15px;
	margin: 5px 0;
	margin-bottom: 15px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.category{
	position: relative;
	display: flex;
	flex-direction: column;
}

.category select {
	border-style: none;
	box-sizing: border-box;
	width: 425px;
	height: 35px;
	padding: 10px 15px;
	margin: 5px 0;
	margin-bottom: 15px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.dropdown i{
	z-index: 200;
	position: absolute;
	color: black;
	bottom: 8px;
	right: 20px;
}

.add-img {
	border-radius: 25px;
	color: #306685;
	padding: 12px 32px;
	margin-top: 10px;
	background-color: #A7A7A7;
	cursor: pointer;
	font-size: 14px;
	font-family: 'Syne';
}

.add-img p{
	margin: 0;
	font-size: 12px;
}

.line2 {
	height: 1px;
	width: 425px;
	background-color: grey;
	margin: 30px 0;
}
.addPicture2{
	border-radius: 25px;
	color: white;
	width: 210px;
	padding: 12px 52px;
	margin: 40px;
	margin-top: 10px;
	background-color: #A7A7A7;
	font-size: 14px;
	font-family: 'Syne';
}

.addPicture2.active {
	cursor: pointer;
	background-color: #1D6154;
}

/* Liste catégorie stylisée */

      .dropdown {
        width: 425px;
        height: fit-content;
        box-sizing: border-box;
        position: relative;
      }
      .input-box {
        width: 425px;
		height: 35px;
		margin: 5px 0;
		margin-bottom: 15px;
		border: none;
		box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
        box-sizing: border-box;
        padding: 10px 15px;
        cursor: pointer;
        position: relative;
      }
      .input-box::before {
        font-family: "Material Icons";
        position: absolute;
        font-size: 18px;
        top: 50%;
        right: 15px;
        transform: translate(0, -50%);
        width: fit-content;
        height: fit-content;
      }
      .input-box:empty::after {
        color: rgba(0, 0, 0, 0.5);
      }
      .list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background: white;
        margin-top: 10px;
        border-radius: 2mm;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        max-height: 0;
        transition: 0.25s ease-out;
      }
      .list input {
        display: none;
      }
      .list label {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        font-family: poppins;
        font-size: 14px;
        padding: 10px 15px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
      }
      .list label .material-icons-outlined,
      .input-box .material-icons-outlined {
        margin-right: 5px;
        font-size: 22px;
      }
      .list label:hover {
        background: rgba(0, 0, 0, 0.08);
      }
      input:checked + label {
        color: rgb(20, 117, 213);
        background: rgb(238, 245, 252);
      }
      input:checked + label::before {
        font-family: "Material Icons";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translate(0, -50%);
        font-size: 18px;
      }
      .open {
        outline: 0.7mm solid rgb(20, 117, 213);
      }
      .title {
        font-family: poppins;
        font-size: small;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .search-box {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 8px;
      }
      #search {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 1mm;
        border: none;
        outline: 0.3mm solid rgba(0, 0, 0, 0.15);
        font-family: poppins;
      }
      #search:focus {
        outline: 0.5mm solid rgba(0, 0, 0, 0.35);
      }

/**/

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}